{% extends 'main_app/layout.html' %}

{% block title %}Rules Page{% endblock %}

{% block content %}
    <div class="features">
        <h1>Rules Page</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores natus nesciunt quis vel voluptate!
            Atque consequuntur deserunt doloribus eligendi, eos error esse hic laudantium maxime, nemo officiis,
            porro quibusdam unde.
        </p>
        <button class="btn btn-warning">Submit smth.</button>
    </div>
{% endblock %}